
<div class="row">
    <div class="col-lg-3 text-center" *ngIf="isDataLoaded">
        <p>friends-list works!</p>

        <div *ngFor="let friend of friends">
            
                {{friend.username}}
               <img src="{{friend.imgUrl}}" class="img-fluid img-thumbnail" style="width:200px; heigth:100px;" /> 
        </div>

        <h5>Invitations</h5>
        <div *ngFor="let invite of invites; let i = index;">
            {{invite.requester.username}}
            <button class = "btn btn-success" (click) = "acceptInvitation(i)">Accept</button>
        </div>

    </div>

    <div class="col-lg-6 text-center">
        <app-search-users></app-search-users>
    </div>

    <div>
            <h5>Invitations</h5>
        <div *ngFor="let invite of invites; let i = index;">
            {{invite.requester.username}}
            <button class = "btn btn-success" (click) = "acceptInvitation(i)">Accept</button>
        </div>
    </div>


</div>

