<div class="container-fluid mt-2">
    <div class="row" >
        
        <a [routerLink]="['/songForm']" routerLinkActive="router-link-active"  class="addsongs "> Add new Song</a>
    </div>
   
    <div class="container" *ngFor="let song of songs; let i=index">
        <div class="cards " >
        
        <p><b>{{song.rate}}</b></p>
        <div class="player border border-light">
            <div class="row">
        <div class="col-5 test "><img  class="border border-light imgsize"   src="{{song.imgPath}}" *ngIf="song.imgPath"/></div>
        <div class="col-7 ">
            <div><h5 class="title"> 
                <b>{{song.title}}</b></h5>
                <p class="data"><b>{{song.date | date: 'dd.MM.yyyy HH:m'}}</b></p></div>
            <div class="audio">
            <audio  controls>
            <source src="{{song.filePath}}"/>
            </audio>
        </div>
            <div class="menu " >
                <div class="row ">
                <div class="col-2"></div>
                <div class="col-2 menuwidth"><a class="menusong" (click) = "selectSong(i)"><div class="add"></div>Add</a></div>
                <div class="col-2 menuwidth"><a  class="menusong" (click) = "deleteSong(i)"><div class="delete"></div>Delete</a> </div> 
                <div class="col-2 menuwidth"><a  class="menusong" (click) = "addLike(i)" *ngIf="!isLikedByUser[i]"><div class="like"></div> Like</a>
                <a  class="menusong" (click) = "deleteLike(i)"*ngIf="isLikedByUser[i]"><div class="unlike"></div> Dislike</a></div>
                <div class="col-2 menuwidth"><a  class="menusong" [routerLink]="['/songs/edit', song.song_id]" routerLinkActive="router-link-active" ><div class="edit"></div>Edit</a></div>
                <div class="col-2"></div>
            </div>
        </div>
        </div>
        </div>
        </div>
        
        
      
        </div>
        </div>

    
</div>