

.cards{
    background-color: gray;
    margin-bottom: 50px;
    width: 100%;
  
}

.title{
    text-align: center;
    height: 33%;

}

.add{
   height: 30px;
   width: 40px;
   background: url("../../../assets/img/add.png") no-repeat;
   background-size: contain;
   background-position: center;
   cursor: pointer;

}

.add:hover{
    background: url("../../../assets/img/add_green.png") no-repeat;
    background-size: contain;
    background-position: center;
}


.delete{
    height: 30px;
    width: 40px;
    background: url("../../../assets/img/trash.png") no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.delete:hover{
    background: url("../../../assets/img/trash_red.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.like{
    height: 30px;
    width: 40px;
    background: url("../../../assets/img/like.png") no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.like:hover{
    background: url("../../../assets/img/like_blue.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.unlike{
    height: 30px;
    width: 40px;
    background: url("../../../assets/img/unlike.png") no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.edit{
    height: 30px;
    width: 40px;
    background: url("../../../assets/img/edit.png") no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
.edit:hover{
    background: url("../../../assets/img/edit_blue.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.player{
    background-color: rgba(174, 236, 226, 0.534); 
    
    
}


.audio{
    
    height: 33%;
    text-align: center;
}

.container{
    max-width: 800px;
}

.data {
    text-align: center;
}

*:focus {
    outline: 0;
}


.menu{
    text-align: center;
   padding-left: 10px;
}

.menusong{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.menuwidth{
    width: 100%;
}

.addsongs{
    background-color: black;
    color:white;
    padding: 12px 22px;
    display: block;
    border-radius: 20px;
    border: 1px white solid;
   margin:auto;
   cursor: pointer;
   transition: 0.3s;
   text-decoration: none;
}

.addsongs:hover{
    background-color: gray;
}

.imgsize{
   height: 322px;
    
}

