img {
    width: 100%;
    height: 100%;
}

.cards{
    background-color: gray;
    margin-bottom: 50px;
    width: 100%;
  
}

.title{
    text-align: center;
    height: 33%;

}

.like{
    width: 30px;
    height: 40px;
}

.player{
    background-color: rgba(174, 236, 226, 0.534);
    
    
}


.audio{
    
    height: 33%;
    text-align: center;
}

.container{
    width: 60%;
}

.data {
    text-align: center;
}

*:focus {
    outline: 0;
}


.menu{
    text-align: center;
   padding-left: 10px;
}

.menuwidth{
    width: 100%;
}

.backgroundmenu{
    background-color: blanchedalmond;
}