<div class="row d-flex justify-content-center" *ngIf="postsLoaded">
    <div class="col-md-6 text-center">
        <h2 style="color: white;">Your Friends Posts</h2>
        <div *ngFor="let post of wallPosts; let i = index;">


            <div class="row mt-5 ml-0 p-0" style="color:white; background-color: rgba(64, 64, 104, 0.5);">
                <div class="col-6 p-0">
                    <img src="{{post.song.imgPath}}" style="width: 100%; height: 300px">
                    <h5> <a  class="btn btn-outline-danger btn-block mt-2" style="font-size: 20px;" [routerLink]="['/songs', post.song.song_id]" routerLinkActive="router-link-active">{{post.song.title}}</a></h5>
                </div>

                <div class="col-5 ">
                    <div class="mb-4 mt-2 text-center" style="color: white;">
                        <h2 class="text-center">{{post.postTitle}} </h2>
                        <div class="row d-flex justify-content-between">
                            <span>
                                Author:   <img src="{{post.user.imgUrl}}" style="width: 20px; height: 20px; margin-left: 5px; margin-right: 5px;">  <b>{{post.user.username}} </b>
                            </span>
                            <span>
                                Created: <b>{{post.date | date: 'dd.MM.yyyy HH:m'}}  </b>
                            </span>

                        </div>
                            <span>
                                <audio  controls style="margin-left: auto; margin-top:5%;" >
                                    <source src="{{post.song.filePath}}"/>
                                    </audio>
                            </span>
                        <br>
                        <a  class="btn btn-primary btn-lg" [routerLink]="['/posts', post.post_id]" routerLinkActive="router-link-active" >See details</a>
                        <button class="btn btn-success btn-lg" (click) = "like(i)" *ngIf="!isLikedByUser[i]">Like Post</button>
                        <button class="btn btn-danger btn-lg" (click) = "dislike(i)" *ngIf="isLikedByUser[i]">Dislike Post</button>
                    </div>
                </div>

            </div>



            
            
        </div>
    </div>
</div>