


  <div class="container editsong border border-light " style=" background-color: rgba(174, 236, 226, 0.534);">
    <div class="row" >
          <h5>Edit Song</h5> 
    </div>
          <div class="row formSong">
              <div class="col-3">Title: </div>
              <div class="col-6"><input class="title" type="text" [(ngModel)]="title"></div>
              <div class="col-3"></div> 
          </div>
          <div class="row formSong">
              <div class="col-3">Lyrics:</div>
              <div class="col-6 formLyrics"> <textarea class="lyrics" placeholder="Lyrics" [(ngModel)]="lyrics"></textarea></div>
              <div class="col-3"></div>
         </div>
         <div class="row">
          <div class="col-3"></div>
          <div class="col-6"> <button class="btn btn-success send"  (click)="edit()">Edit</button></div>
          <div class="col-3"></div>
           
         

    

  </div>