.profilebackground{
    background-color: rgba(174, 236, 226, 0.534);
    min-height: 400px;
   width: 60%;
    margin: 50px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 5%;
   
    
  
}

.profileimg{
    width: 100%;
    padding: 10px;
    height: 60%;
    border-radius: 50%;
    margin-top: 20%;
    
    
}

p{
    margin: 10px;
    width: 30%;
}

.editForm{
    margin: 10px;
}
.send{
    margin-left: 73%;
}