<img src="{{imgUrl}}" *ngIf="imgUrl">

<div *ngIf="currentFile" class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  
  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)" />
  </label>

  <button class="btn btn-success" (click)="upload()">Change profile photo</button>

  <div class="container">
    <div class="row profilebackground" *ngIf="isDataAvailable" >
     
      <div class="col-4 "><img  class="profileimg" src="{{loggedInUser.imgUrl}}"> </div>
      <div class="col-4 ">assd</div>
      <div class="col-4 ">asdasd</div>


    </div>
  </div>