
<div class="row d-flex justify-content-around" *ngIf="isPostAvailable && isCommentAvailable">

    <div class="col-md-4 d-flex justify-content-center" >
        <div class="col-11" style="background-color: dimgrey;">
            <h3 class="text-center" style="color: white;">{{post.song.title}}</h3>
            <hr>
            <img src="{{post.song.imgPath}}" style="width: 100%;">
            
            <div class="col-12">
               
                    <pre style="color: white;">
                      {{post.song.lyrics}}  
                    </pre>
                    
            </div>

        </div>
        
    </div>



    <div class="col-md-5 text-center p-0" style="color: white;">
        <div class="row p-0">
             <div class="" style="background-color: slategray; width: 80%; margin-left: auto ; margin-right: auto;" >
            
                <h1 style="font-size: 40px;"><b>{{post.postTitle}}</b></h1>
                <div class="d-flex justify-content-around">
                    <p>
                    
                        Author: <img src="{{post.user.imgUrl}}" style="height: 20px; width: 20px; margin-left: 5px; margin-right: 5px;">  <b>{{post.user.username}}</b>
                    </p>
                    <p>Created: <b>{{post.date | date: 'dd-MM-yyy HH:ss'}}</b></p>
                </div>
          
            </div>
                <button class="btn btn-success btn-lg" style="width: 75px;" (click)="like()" *ngIf="!isLikedByUser"><i class="fas fa-thumbs-up"></i></button>
                <button class="btn btn-danger btn-lg" style="width: 75px;" (click)="dislike()" *ngIf="isLikedByUser"> <i class="fas fa-thumbs-down"></i></button>
        </div>

        <hr style="background-color:white;">
        <article class="bg-dark">
            <p class="text-justify text-wrap post-description p-2" style="width:100%; min-height: 250px; background-color:slategray; font-size: 18px;">
             {{post.postDescription}}                   
            </p>

        </article>
        

    </div>

    <div class="col-md-2 ">

        <h2 class="text-center" style="color: white;">Comments</h2>

        <div class="group-form">
            <form [formGroup]="commentForm" class="d-flex justify-content-center"> 
            
                <textarea placeholder="Type your comment" formControlName="content" style="width: 100%; min-height: 120px;">

                </textarea>
                <button class="btn btn-success" (click) = "addComment()"> Add </button>
            </form>
        </div>


        <div *ngFor="let comment of comments; let j=index" class="bg-light mt-2 p-2" style="color: black;">
            <div class="row d-flex justify-content-around">
                 <h3 class="text-center"> <img src="{{comment.user.imgUrl}}" style="height: 20px; width: 20px; margin-left: 5px; margin-right: 5px;"> {{comment.user.username}}</h3>
                <button (click) = "deleteComment(j)" class="btn btn-danger btn-sm" *ngIf="loggedInUser.username === comment.user.username " > <i class="far fa-trash-alt mr-1"></i>Delete</button>               
            </div>
            <hr>
            <p class="text-justify text-wrap">
                {{comment.content}} 
            </p>
        </div>        
    </div>

</div>
