<p>post-edit works!</p>
<div class="row" *ngIf="isDataLoaded">
    <div class="col-md-12">
        <form action="" class="group-form" [formGroup] = "postForm" >
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="username-span" style="background-color: darkseagreen">Post Title</span>
                </div>
                <input type="text" [placeholder]="post.postTitle" class="form-control" formControlName ="title" [(ngModel)]="post.postTitle" aria-describedby="username-span">    
            </div>
            <textarea formControlName="description" [placeholder]="post.postDescription" [(ngModel)]="post.postDescription">

            </textarea>
            <button class="btn btn-primary" type = "submit" (click) = "editPost()">Add Post</button>

        </form>
    </div>
</div>