<div class="row p-2" *ngIf="isDataAvailable">


    <div class="col-lg-3 bg-dark mt-2  pb-2" style="color: white;">

        <div class="p-2">
            <img src="{{clickedUser.imgUrl}}" class="img-fluid img-thumbnail" style="height: 400px; width: fit-content;" *ngIf="clickedUser.imgUrl"/>
        </div>

        <div class="text-center ">
            <div class="mt-2">
                <h5>
                    <b>Username: </b> {{clickedUser.username}}      
                </h5>                      
            </div>
            <div class="mt-2">
                <h5>
                    <b>First Name: </b> {{clickedUser.firstName}}    
                </h5>                  
            </div>
            <div class="mt-2">
                <h5>
                    <b>Last Name: </b> {{clickedUser.lastName}}
                </h5>  
            </div>
            <div class="mt-2">
                <h5>
                    <b>E-mail: </b> {{clickedUser.email}}
                </h5>  
            </div>
            <button class="btn btn-success btn-lg mt-2" (click) = "invite()" [disabled] =  "isUserARequester || isUserInvited" *ngIf="!isUserAFriend">Invite User</button>           
            <span *ngIf="isUserAFriend"> You are friend to this user</span>
        </div>
        

    </div>
    <div class="col-lg-3 p-2 bg-dark" style="color: white; margin-left: 6%;">

        <div class="text-center">
            <h5>{{clickedUser.username}} Songs</h5>
        </div>

        <div class="row" *ngFor="let song of songs; let i=index;">

            <div class="col-5">
                <div class="p-2">
                    <img src="{{song.imgPath}}" class="img-fluid img-thumbnail" style="height: 200px; width: fit-content;" *ngIf="song.imgPath"/>
                </div>
            </div>   

            <div class="col-5">

                <div>
                    <h5>
                        <b>Song Title: </b> {{song.title}}  
                    </h5>
                                           
                </div>

                <div>
                    <h5>
                        <b>Date: </b> {{song.date | date: 'dd.MM.yyyy HH:m'}}  
                    </h5>                 
                </div>



                <a (click) = "likeSong(i)" *ngIf="!isLikedByUser[i]">
                    <img src="assets/img/like.png">
                </a>

                <a (click) = "dislikeSong(i)" *ngIf="isLikedByUser[i]">
                    <img src="assets/img/unlike.png">
                </a>
            </div>

        </div>
 
    </div>


    <div class="col-lg-3 p-2 bg-dark" style="color: white; margin-left: 6%;">

        <div class="text-center">
            <h5>{{clickedUser.username}} Posts</h5>
        </div>

        <div class="row" *ngFor="let post of posts; let j=index;">

             <div class="col-5">
                <div class="p-2">
                    <img src="{{post.song.imgPath}}" class="img-fluid img-thumbnail" style="height: 70px; width: fit-content;" *ngIf="post.song.imgPath"/>
                </div>
            </div>               


            <a (click) = "likePost(j)" *ngIf="!isPostLikedByUser[j]">
                <img src="assets/img/like.png">
            </a>

            <a (click) = "dislikePost(j)" *ngIf="isPostLikedByUser[j]">
                <img src="assets/img/unlike.png">
            </a>

            <a  [routerLink]="['/posts/post.post_id']" routerLinkActive="router-link-active" >
                View Post
            </a>

        </div>
 
    </div>


    

</div>