

<div class="container">
    <div class="row">
    
        <div class="col-12">
            <div class="row">

            <div class="col-4"><div class="row">
                <img  class="userAvatar" src="{{clickedUser.imgUrl}}"   *ngIf="clickedUser.imgUrl"/>
               
            </div>
            <div class="row profile">
               Username: {{clickedUser.username}}
            </div>
            <div class="row profile">
                First Name: {{clickedUser.firstName}}
             </div>
             <div class="row profile">
                Last Name: {{clickedUser.lastName}}
             </div>
             <div class="row profile">
                Email: {{clickedUser.email}}
             </div>
             <div class="row ">
             <button class="btn btn-success btn-lg mt-2 invite" (click) = "invite()" [disabled] =  "isUserARequester || isUserInvited" *ngIf="!isUserAFriend">Invite User</button>           
             <span  style="  text-align: center; margin-left: 2.5rem; " *ngIf="isUserAFriend"> You are friend to this user</span>
            </div></div>
            <div class="col-4 profil">
                   <h3 class="titlePost">{{clickedUser.username}} Posts <i class="fas fa-globe"></i>  </h3> 
                    <div class="row " *ngFor="let post of posts; let j=index;">
                        <div class="row post">
                           
                     <div class="row">
                        <div class="col-5 ">
                            <img src="{{post.song.imgPath}}" class="postimg " *ngIf="post.song.imgPath"/>


                        </div>
                        <div class="col-7">

                            <h5 style="text-align: center; padding-bottom: 2px;">{{post.postTitle}}</h5> 
                            <div class="row">
                              
                                <div class="col-6" style="text-align: center;">
                                    <a  (click) = "likePost(j)" *ngIf="!isPostLikedByUser[j]">
                                    <img class="icon" src="assets/img/like.png">
                                    <div class="row description" >
                                        Like
                                    </div>
                                    </a>  
                                    <a  (click) = "dislikePost(j)" *ngIf="isPostLikedByUser[j]">
                                    <img  class="icon" src="assets/img/unlike.png">
                                    <div class="row" style="text-align: center;">
                                        Dislike
                                    </div>
                                    </a>

                                
                                 </div>
                           
                                <div class="col-6" style="width: 100%; ">
                                    <a  [routerLink]="['/posts/post.post_id']" routerLinkActive="router-link-active" >
                                    <img class="icon" src="assets/img/search.png">
                                    View Post
                                    </a>
                                </div>
                            </div>
                        </div>               
            
            
                        
            
                      
            
                        
                    </div>
                </div>
                </div>
            </div>
            <div class="col-4 songs">
              <h3 style="text-align: center;">{{clickedUser.username}} Songs<i class="fas fa-music" style="padding: 5px;"></i>
              </h3>  
              <div class="row p-2" *ngFor="let song of songs; let i=index;">
                    <div class="col-10 song">
                        <img src="{{song.imgPath}}" class="image" *ngIf="song.imgPath"/><span style="margin-left: 10px;">{{song.title}}</span>
                    </div>
              </div>

            </div>
        </div>
            


        </div>
        
    </div>
</div>